<html> 
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
</html>
<body>
<div>
<header>
    <h1 class="TitlePage"><%= image_tag("5e_icon.png", :alt => "D&D") %>   Dungeons & Dragons </h1>
    <h2 class="tabOver">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Character Archive</h2>
</header>
<p>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<span class="button">
     <%= link_to 'Characters List', controller: 'characters'%>
</span>
<span class="button">
    <%= link_to 'New Character', new_character_path%>
</span>
</p>

</body>