// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color: #FDEBD0;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
}
input[type=label]{
    font-size: 20px;
    font-weight: bold;
    color: #983C57;
    text-decoration: underline;
}
table{
    border: 5px solid #48C9B0;
}
th, td{
    border: 5px solid #48C9B0;
    padding: 8px;
    margin: 0px;
}
  a:link, a:visited{
    color: #C83232;
}

.floatRight{
    float: right;
    margin: 20px;
    padding: 20px;
    color: #7D3C98;
    border: 5px solid #48C9B0;
    #big{
        font-size: 32px;
        font-weight: bold;
        color: #983C57;
        text-decoration: underline;
    }
    #small{
        font-size: 23px;
        font-weight: bold;
        color: #983C57;
        text-decoration: underline;
    }
    h2{
        color: #48C9B0;
        font-size: 30px;
        text-decoration: underline;
    }
    input[type=text]{
        width: 100%;
    }
}

.floatLeft{
    float: left;
    padding: 10px;
    margin: 10px;
    color: #7D3C98;
    #big{
        font-size: 32px;
        font-weight: bold;
        color: #983C57;
        text-decoration: underline;
    }
    #small{
        font-size: 23px;
        font-weight: bold;
        color: #983C57;
        text-decoration: underline;
    }
}
input[type=text], input[type=select]{
    width: 25%;
    padding: 10px 5px;
    background-color: #983C57;
    color: #FDEBD0;
    font-size: 15px;
    
}
input[type=button], input[type=submit]{
    background-color: #C83232;
    color: #FDEBD0;
    font-family: Helvetica;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    padding: 7px 8px 7px 8px;
    font-weight: bold;
    text-decoration: underline;
}
