// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color: #FDEBD0;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold;
}

.label{
    font-size: 20px;
    font-weight: bold;
    color: #983C57;
    text-decoration: underline;
}
table{
    border: 5px solid #48C9B0;
}
th, td{
    border: 5px solid #48C9B0;
    padding: 8px;
    margin: 0px;
}
  a:link, a:visited{
    color: #C83232;
}
h2{
    color: #48C9B0;
    font-size: 20px;
}
.floatRight{
    float: right;
}
