// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-image: linear-gradient(to bottom right, #FDEBD0, #984F3C 60%);
    background-size: 9500px;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold;
}
h1{
    color: #C83232;
    font-family: cursive;
    text-shadow: 2px 2px 2px black;
}
.TitlePage{
    font-size: 50px;
}

h2{
    color: #48C9B0;
    font-size: 30px;
    .tabOver{
        font-family: Helvetica;
        padding-left : 50px;
    }
}


p{
    color: #7D3C98;
}
.button{
    background-color: #C83232;
    color: #FDEBD0;
    font-family: Helvetica;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    padding: 7px 8px 7px 8px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    a:link, a:visited{
    color: #FDEBD0;
}
}

a:hover{
    color: #48C9B0;
}

.label{
    font-size: 20px;
    color: #983C57;
    text-decoration: underline;
}