// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color: #FDEBD0;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold;
}
h1{
    color: #C83232;
    font-family: cursive;
}
.TitlePage{
    font-size: 50px;
}
h2{
    color: #48C9B0;
    font-size: 20px;
}
p{
    color: #984F3C;
}
.button{
    background-color: #C83232;
    color: #FDEBD0;
    font-family: Helvetica;
    font-size: 20px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    padding: 7px 8px 7px 8px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    a:link, a:visited{
    color: #FDEBD0;
}
}

a:hover{
    color: #48C9B0;
}

.label{
    font-size: 20px;
    color: #983C57;
    text-decoration: underline;
}